* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1090px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 28px;
  padding-left: 28px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.there-is-nth {
  padding-top: 55px;
}
.there-is-nth__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 850px) {
  .there-is-nth__container {
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.there-is-nth__left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 850px) {
  .there-is-nth__left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
  }
}
.there-is-nth__left-side h1 {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Montserrat";
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
}
.there-is-nth__left-side p {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.1px;
}
.there-is-nth__left-side button {
  width: 262px;
  height: 60px;
  flex-shrink: 0;
  background-color: #FFC000;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.there-is-nth__left-side button a {
  color: #0d0d0d;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}
@media (max-width: 850px) {
  .there-is-nth__left-side__right-side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .there-is-nth__left-side__right-side img {
    top: 0;
    bottom: 500px;
    left: 0;
    right: 0;
  }
}
.there-is-nth__left-side__right-side img {
  width: 100%;
}