<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <footer>
        <div class="container footer d-none d-md-block">

            <div class="row  d-flex justify-content-between">
                <div class="left  col col-md-6 d-flex justify-content-start gap-3">
                    <div class="imperia">
                        <h2>про imperia</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget pretium aenean dignissim sit cursus dictumst adipiscing nunc.
                        </p>
                        <img src="./assets/images/home/logo-96px.svg" alt="logo">
                    </div>
                    <div class="contact d-grid gap-3">
                        <div class="top">
                            <h2>контакты</h2>
                            <span>+998 90 958 78 87</span>
                            <br>
                            <span>support@fonon.uz</span>
                        </div>

                        <div class="bottom">
                            <h2>рабочее время</h2>
                            <span>По будням 9:00 to 18:00</span>
                            <br>
                            <span>В выходные 11:00 to 18:00</span>
                        </div>
                    </div>
                </div>
                <div class="right col col-md-6 d-flex justify-content-around gap-5">
                    <div class="menu">
                        <h2>Меню</h2>
                        <ul class="footer__list d-flex flex-column ps-0 gap-2">
                            <li class="footer__item"><a href="" class="footer__link">Главная</a></li>
                            <li class="footer__item"><a href="" class="footer__link">О нас</a></li>
                            <li class="footer__item"><a href="" class="footer__link">Категории</a></li>
                            <li class="footer__item"><a href="" class="footer__link">Сотрудничество</a></li>
                        </ul>
                        
                    </div>
                    <div class="category">
                        <h2>категории</h2>
                        <ul class="footer__list d-flex flex-column ps-0 gap-2">
                            <li class="footer__item "><a href="#" class="footer__link">Женская одежда</a></li>
                            <li class="footer__item "><a href="#" class="footer__link">Мужская одежда</a></li>
                            <li class="footer__item "><a href="#" class="footer__link">foДетская одежда</a></li>
                            <li class="footer__item "><a href="#" class="footer__link">Обувь</a></li>
                            <li class="footer__item "><a href="#" class="footer__link">Сумки</a></li>
                            <li class="footer__item "><a href="#" class="footer__link">Аксесуары</a></li>
                        </ul>
                    </div>
                </div> 
            </div>
            
        </div>

        <div class="container res-footer d-md-none">
            <p>
                High fidelity wireframes include more real content, specific typography choices, and information on image.
            </p>

            <div class="row">
                <div class="col d-flex flex-column gap-2">
                    <a href="#">Catalog</a>
                    <a href="#">Popular</a>
                    <a href="#">Pricing</a>
                    <a href="#">Features</a>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <a href="#">About</a>
                    <a href="#">Blog</a>
                    <a href="#">Contacts</a>
                </div>
            </div>

            <div class="row footer-end">
                <div class="col top">
                    <img src="./assets/images/home/Icon.svg" alt="">
                    <p>Los Angeles,
                        <br>
                        359  Hidden Valley Road
                    </p>
                </div>

                <div class="col bottom">
                    <img src="./assets/images/home/Icon-1.svg" alt="">
                    <p>
                        Hellohero@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>