<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary sticky-top d-block d-lg-none p-3 res-nav">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="#" class="ic_cart"><img src="./assets/images/home/Logo.svg" alt="ic_cart"></a>
          <a href="#" class="ic_cart"><img src="./assets/images/home/ic_cart.svg" alt="ic_cart"></a>
          <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MILANDI</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Сотрудничество</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </nav>

    <nav class="d-none d-lg-block sticky-top">
        <div class="lang">
            <div class="container">
                <a href="#">RU</a>
                <a href="#"><span>UZB</span></a>
            </div>
        </div>
        <div class="container navbar">
            <div class="nav__left">
                <h1>MILANDI</h1>
                <ul class="nav__list">
                    <li class="nav__item"><a href="" class="nav__link">Главная</a></li>
                    <li class="nav__item"><a href="" class="nav__link">О нас</a></li>
                    <li class="nav__item"><a href="" class="nav__link">Категории</a></li>
                    <li class="nav__item"><a href="" class="nav__link">Сотрудничество</a></li>
                </ul>
            </div>
            <div class="nav__right">
                <a href="#"><button class="nav__btn">Войти</button></a>
                <a href="#"><button class="nav__btn">Зарегистрироваться</button></a>
                <a href="#" class="ic_cart"><img src="./assets/images/home/ic_cart.svg" alt="ic_cart"></a>
            </div>
        </div>
    </nav>
</body>
</html>